models
cached_dataset_files
results_csv
visual_models_evaluation
venv
__pycache__
.idea


*.mdl
2021-*
image_embedder_*
*evaluation_by_epoch.csv
slurm-*
my_script*
makefile

# Old files that I don't want on git
fast_rcnn_model.py
fast_rcnn_prepare_data.py
train_fast_rcnn_from_golden.py
train_rcnn_from_golden.py

# Large downloaded files I don't want on git
word2vec-google-news-300.gz
wiki-news-300d-1M.vec